.com-heading h3 {
  display: inline;
  margin: 0;
  color: var(--stat-acc);
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: normal;
  font-style: normal;
}

.c-block {
  text-align: left;
  font-size: .78125rem;
  line-height: 1.2rem;
  display: inline-block;
  vertical-align: top;
  width: 25rem;
  background-color: var(--stat-bg);
  color: var(--stat-null);
  background-size: cover;
  background-position: center;
  background-image: url('../dndimages/statblockparch.jpg');
  background-blend-mode: luminosity;
  padding: .625rem .625rem 1.25rem;
  box-sizing: border-box;
  font-family: 'Noto Sans', 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
}

.blue-border {
    display: block;
    background-color: var(--stat-acc);
    background-image: url('../dndimages/statblockbar.jpg');
    background-blend-mode: luminosity;
    background-size: cover;
    background-position: center;
    border: .0625rem solid var(--stat-null);
    height: .3125rem;
    padding: 0 .625rem 0;
    margin: -.625rem -.625rem 0;
    box-sizing: initial;
}

.blue-border.bottom {
    margin: .9375rem -.625rem -1.25rem;
}

.c-plain {
  background-image: none;
}

.c-block.wide {
  width: 50rem;
}

.c-block.wide .section-left,
.c-block.wide .section-right {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  text-align: left;
}

.c-block.wide .section-left {
  margin-right: 1.5%;
}

.c-block.wide .section-right {
  margin-left: 1.5%;
}

.c-line h4,
.c-line p {
  display: inline;
  margin: 0;
  font-size: .78125rem;
  line-height: 1.2rem;
}

.c-line p {
  color: var(--stat-null);
}

.c-line h4 {
  color: var(--stat-main);
}

.c-indent strong em {
  color: var(--stat-main);
}

.c-line {
  text-indent: -1rem;
  padding-left: 1.1rem;
  line-height: 1.2rem;
  margin: 0;
}

.c-line.first {
  margin-top: .5rem;
}

.c-line.last {
  margin-bottom: .625rem;
}

.c-indent {
  display: inline;
  text-indent: 0;
  margin: 0;
  color: var(--stat-null);
  font-size: .78125rem;
  line-height: 1.2rem;
}

.cstats {
  text-align: center;
  color: var(--stat-acc);
}

.cstats>div {
  display: inline-block;
  vertical-align: top;
  width: 23.25%;
  min-width: 2.5rem;
  font-size: .75rem;
  line-height: 1rem;
}

.cstats h4 {
  margin: .625rem 0 .125rem;
  font-size: .875rem;
  line-height: 1.2rem;
  text-transform: uppercase;
  color: var(--stat-main);
}

.cstats p {
  margin: 0;
  line-height: 1.2rem;
}

.c-block .tapered-rule {
    display: block;
    width: 100%;
    height: .3125rem;
    border: none;
    color: var(--stat-main);
    fill: var(--stat-main);
    margin: .625rem 0 .2rem;
}

.c-block .creature-heading h1 {
  color: var(--stat-acc);
}

.c-block .scores h4 {
  color: var(--stat-main);
}

.togInput {
  display: inline-block;
  height: 1.25rem;
  position: relative;
  width: 2.5rem;
  margin: .125rem 0;
}

.togWrap {
  display: flex;
  align-items: center;
}

.togInput input {
  display:none;
}

.toggler {
  background-color: var(--surf-highest);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .35s;
  line-height: 0;
}

.toggler:before {
  background-color: var(--color-pri);
  bottom: 0;
  content: "";
  height: 1.25rem;
  left: 0;
  position: absolute;
  transition: .35s;
  width: 1.25rem;
  margin-left: -0.01rem;
}

input:checked + .toggler {
  background-color: var(--color-pri);
}

input:checked + .toggler:before {
  transform: translateX(1.27rem);
  background-color: var(--surf-highest);
}

.toggler.round {
  border-radius: 1.25rem;
}

.toggler.round:before {
  border-radius: 50%;
}

[id^="print-block"] .c-block h1,
[id^="print-block"] .c-block h3,
[id^="print-block"] .c-block h4,
[id^="print-block"] .c-block h4,
[id^="print-block"] .c-block ul,
[id^="print-block"] .c-block strong,
[id^="print-block"] .c-block em,
[id^="print-block"] .c-block strong em,
[id^="print-block"] .c-block p {
    color: var(--stat-null);
}

[id^="print-block"] .c-block h3 {
    border-bottom-color: var(--stat-null);
}

[id^="print-block"] .c-block .tapered-rule {
    color: var(--stat-null);
    fill: var(--stat-null);
}

[id^="print-block"] .stat-block,
[id^="print-block"] .enctr-block,
[id^="print-block"] .c-block {
    background: none;
    outline: 0.2rem solid var(--stat-null);
}

[id^="print-block"] .orange-border,
[id^="print-block"] .blue-border {
    display: none;
}
