:root {
	--pri-hue: 10; /* primary color */

	--stat-bg-hue: 38; /* statblock background hue */
	--stat-main-hue: 10; /* statblock primary hue */

	--surf-bg: hsl(var(--pri-hue),0%,98%);
	--surf-high: hsl(var(--pri-hue),0%,88%);
	--surf-higher: hsl(var(--pri-hue),0%,82%);
	--surf-highest: hsl(var(--pri-hue),0%,90%);

	--color-pri: hsl(var(--pri-hue),85%,40%);
	--color-acc: hsl(var(--pri-hue),90%,55%);
	--color-text: hsla(var(--pri-hue),0%,12%,1);
	--color-text-emph: hsla(var(--pri-hue),80%,32%,1);

	--stat-main: hsl(var(--stat-main-hue),80%,32%);
	--stat-acc: hsl(var(--stat-main-hue),80%,26%);
	--stat-null: hsl(var(--stat-main-hue),0%,0%);
	--stat-bord: hsl(var(--stat-bg-hue),80%,52%);
	--stat-bg: hsl(var(--stat-bg-hue),90%,92%);
	--stat-shad: hsl(var(--stat-bg-hue),24%,44%);
}

[data-theme="dark"] {
	--surf-bg: hsl(var(--pri-hue),0%,8%);
	--surf-high: hsl(var(--pri-hue),0%,12%);
	--surf-higher: hsl(var(--pri-hue),0%,18%);
	--surf-highest: hsl(var(--pri-hue),0%,24%);

	--color-pri: hsl(var(--pri-hue),60%,50%);
	--color-acc: hsl(var(--pri-hue),80%,50%);
	--color-text: hsla(var(--pri-hue),0%,100%,.87);
	--color-text-emph: hsla(var(--pri-hue),80%,50%,.77);

	--stat-main: hsl(var(--stat-main-hue),80%,32%);
	--stat-acc: hsl(var(--stat-main-hue),80%,26%);
	--stat-null: hsl(var(--stat-main-hue),0%,0%);
	--stat-bord: hsl(var(--stat-bg-hue),80%,52%);
	--stat-bg: hsl(var(--stat-bg-hue),90%,92%);
	--stat-shad: hsl(var(--stat-bg-hue),24%,44%);
}

input[type=range] {
	width: 34rem;
	height: .6rem;
	outline: none;
	background: var(--surf-higher);
	-webkit-appearance: none;
	appearance: none;
	border-radius: .3rem;
	border-width: .0125rem;
	border-style: solid;
	border-color: var(--color-pri);
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
	height: 1rem;
	width: 1.6rem;
	background: var(--color-pri);
  cursor: pointer;
	border-radius: .5rem;
}

input[type=range]::-moz-range-thumb {
  background: var(--color-pri);
  cursor: pointer;
	height: 1rem;
	width: 1.6rem;
	border-radius: .5rem;
}

.dark-wrapper {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.tab-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.shift-button-wrapper {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.shift-button-wrapper em {
	font-size: .8rem;
}

.dark-wrapper em {
	font-size: .75rem;
	line-height: 1.5rem;
	padding-left: .5rem;
}

.switch {
  display: inline-block;
  height: 1.5rem;
  position: relative;
  width: 3rem;
}

.switch input {
  display:none;
}

.slider {
  background-color: var(--surf-higher);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: var(--color-text);
  bottom: 0;
  content: "";
  height: 1.5rem;
  left: 0;
  position: absolute;
  transition: .4s;
  width: 1.5rem;
}

input:checked + .slider {
  background-color: var(--color-pri);
}

input:checked + .slider:before {
  transform: translateX(1.5rem);
}

.slider.round {
  border-radius: 1.5rem;
}

.slider.round:before {
  border-radius: 50%;
}

html {
	height: 100%;
}

body {
    margin: 0 auto;
		height: 100%;
		background-color: var(--surf-bg);
		color: var(--color-text);
		max-width: 90rem;
}

.enc-descr-form label {
	width: calc(95% - 1.5rem);
}

.enc-descr-form textarea {
	width: 100%;
	height: 6rem;
}

.tabs p {
	font-size: .75rem;
	font-style: italic;
}

.monster-manual td {
	border: .05rem solid var(--surf-highest);
	vertical-align: middle;
	padding: 1rem;
	line-height: 1.2;
}

.monster-manual thead {
  white-space: nowrap;
	cursor: pointer;
}

.monster-manual tr:nth-child(odd) {
	background: var(--surf-higher);
}

.monster-manual tr:nth-child(even) {
	background: var(--surf-high);
}

.monster-manual table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
}

.monster-manual thead {
	text-align: center;
	color: var(--color-pri);
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: bold;
}

.monster-manual table .absorbing-column {
    width: 100%;
}

::-webkit-scrollbar {
    width: .25rem;
		height: .25rem;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 .25rem var(--surf-highest);
    -webkit-border-radius: .625rem;
    border-radius: .625rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: .625rem;
    border-radius: .625rem;
    background: var(--color-text-emph);
    -webkit-box-shadow: inset 0 0 .25rem var(--surf-high);
}

::-webkit-scrollbar-corner {
    background: var(--surf-bg);
}

.gridcontainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5rem minmax(5.75rem,auto) 1fr;
	overflow-y: hidden;
	overflow-x: auto;
}

.tabs {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1.5rem 1fr;
  grid-template-rows: auto;
	text-align: center;
	background-color: var(--surf-bg)
}

.tabflow {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(13rem,1fr));
	grid-column: 2;
	grid-row: 1;
	grid-template-rows: auto auto;
}

.tableft {
	display: grid;
	grid-template-columns: minmax(7rem, 1fr) minmax(6rem, 1fr) minmax(7rem, 1fr) minmax(6rem, 1fr);
	grid-column-start: span 2;
}

.tabright {
	display: grid;
	grid-template-columns: 1fr 8rem 8rem;
	grid-column-start: span 3;
	grid-column-end: -1;
	grid-row: 1;
}

.tabs h1 {
	color: var(--color-pri);
}

.tabcontent {
  grid-row: 3;
	overflow-y: auto;
	overflow-x: auto;
}

.tabcontainer {
	display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28.21875rem, 1fr));
  grid-template-rows: 100% 100%;
	padding: 0;
	grid-auto-flow: row;
}

.tabcontainer2 {
	display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem,1fr));
  grid-template-rows: 100% 100%;
	padding: 0;
	grid-auto-flow: row;
}

.enc-container {
	display: grid;
  grid-template-columns: 4.875rem 51.5625rem;
  grid-template-rows: 1fr;
	padding: 0;
}

.enc-container p {
	margin: 0;
}

.enc-overlay {
	display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 1fr;
	padding: 0;

}

.menucontainer {
	display: grid;
	padding: 0;
}

.menu-btn {
	font-size: 125%;
	color: var(--color-text);
	background-color: var(--surf-high);
	border-top: 0.175rem solid var(--surf-higher);
	border-bottom: 0 solid var(--surf-higher);
	border-left: 0 solid var(--surf-higher);
	border-right: 0 solid var(--surf-higher);
	line-height: 1.5;
}

.menudrop .menu-btn {
	font-size: 100%;
	color: var(--color-text);
	background-color: var(--surf-high);
	border-top: 0.125rem solid var(--color-pri);
	border-bottom: 0 solid var(--color-pri);
	border-left: 0 solid var(--color-pri);
	border-right: 0 solid var(--color-pri);
	width: calc(100% - 1.5rem);
	margin-left: 1.5rem;
}

.menudrop .submenu-end {
	margin-bottom:-1rem;
	border-bottom: 0.075rem solid var(--color-pri);
	padding-left: 0rem;
	margin-left: 1.5rem;
}

.menu-btn:hover {
	background-color: var(--color-pri);
	color: var(--color-text);
}

.menudrop {
	display: none;
	padding: 1rem 0 1rem 1.5rem;
	text-align: left;
	background-color: var(--surf-higher)
}

.tabs button {
  display: block;
  background-color: var(--surf-high);
  color: var(--color-text);
  padding: 0.75rem;
  width: 100%;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.25rem;
	border: none;
	height: 100%;
}

.tabs button:hover {
  background-color: var(--color-pri);
	color: var(--color-text);
}

/* Create an active/current "tab button" class */
.tabs button.active {
  background-color: var(--surf-higher);
	color: var(--color-pri);
}

.tabs p {
	margin-bottom: 0;
}

.container {
    font-family: Georgia, Arial, sans-serif;
    text-align: left;
    margin: 0 auto;
    line-height: 125%;
    border-style: none;
	  min-height: 100%;
	  max-width: 100%;
}

.content {
    margin: 1.25rem 0;
		padding-right: 6.25rem;
		padding-left: 1.5rem;
}

.faq-image {
    width: 1.875rem;
    height: 1.875rem;
    fill: var(--color-pri);
}

.paginate-image {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    fill: var(--color-pri);
		transform: rotate(-90deg);
}

#slot-target {
	position: absolute;
	display: inline-block;
	background-color: var(--color-pri);
	color: var(--surf-highest);
	height: 3rem;
	margin-right: 40%;
	margin-left: 40%;
	width: 20%;
}

#slot-bar {
	position: absolute;
	display: inline-block;
	background-color: var(--surf-higher);
	margin-top: .5rem;
	height: 2rem;
	width: 0%;
}

#slot-fill {
	position: absolute;
	display: inline-block;
	border-width: .075rem;
	border-style: solid;
	border-color: var(--color-pri);
	margin-top: .5rem;
	height: 2rem;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h1 {
    font-family: Tahoma, Georgia, Arial, sans-serif;
    font-size: 2rem;
}

h2 {
    font-family: Tahoma, Georgia, Arial, sans-serif;
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

hr {
    border-style: solid;
    border-color: var(--color-text);
}

a {
    color: var(--color-text-emph);
    text-decoration: none;
}

a:hover {
	color: var(--color-acc);
}

ul {
    text-align: left;
    padding-left: 1.5rem;
}

button {
    color: var(--color-pri);
    font-size: 1rem;
    font-family: Tahoma, Georgia, Arial, sans-serif;
    background: var(--surf-highest);
    padding: .125rem .375rem;
    width: auto;
		border: none;
		outline: none;
}

button:focus {
	outline: none;
}

button:hover {
    background: var(--color-pri);
    text-decoration: none;
		color: var(--color-text)
}

select {
    height: 1.5rem;
    font-family: Tahoma, Georgia, Arial, sans-serif;
    font-size: .8rem;
		background-color: var(--surf-highest);
		border: none;
		outline: none;
		color: var(--color-text);
}

input {
    font-family: Tahoma, Georgia, Arial, sans-serif;
    font-size: .8rem;
		background-color: var(--surf-highest);
		border: none;
		outline: none;
		color: var(--color-text);
}

input[type=text] {
    width: 95%;
    height: 1.5rem;
		text-align: left;
}

input[type=number] {
    width: 4rem;
    padding: .0625rem;
		text-align: center;
}

input[type=checkbox] {
    vertical-align: middle;
    margin: 0 .25rem .25rem .25rem;
}

textarea {
    font-family: monospace;
    font-size: .8rem;
    letter-spacing: normal;
    line-height: normal;
    width: 80%;
		background-color: var(--surf-highest);
		color: var(--color-text);
}

table {
    table-layout: fixed;
    text-align: left;
    width: 100%;
}

td {
    text-align: left;
    vertical-align: top;
}

.cen_td td {
    text-align: center;
    vertical-align: middle;
}

.cen_td input[type=text],
.cen_td2 input[type=text] {
    text-align: center;
}

.cen_td2 td {
    text-align: center;
    vertical-align: top;
}

canvas {
    max-width: 100%;
}

label {
    margin-bottom: 0;
}

.booklist div {
    margin-bottom: .5rem;
}

.tooltip {
    position: relative;
    display: inline-block;
    color: var(--color-text-emph);
    text-decoration: none;
    cursor: help;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 25rem;
    background-size: cover;
    background-position: center;
    color: var(--color-text);
    padding: .625rem;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -12.5rem;
    border-style: solid;
    border-radius: .3125rem;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.buttoncontainer {
    text-align: center;
}

.box-note {
    font-size: .8rem;
    line-height: 1.5rem;
}

.collapsiblebutton {
    cursor: pointer;
    font-size: .9375rem;
    color: var(--color-pri);

    /* Make Unselectable */

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.expand-retract-text {
    cursor: pointer;
    font-family: Tahoma, Georgia, Arial, sans-serif;
    font-size: 1.2rem;
	font-weight: bold;
    color: var(--color-pri);
    display: inline;
    margin-left: 3rem;

    /* Make Unselectable */

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.expand-retract-h2 {
	display: inline-block;
	width: 10rem;
}

.centeredcontainer {
    display: block;
    text-align: center;
}

.footer {
    text-align: center;
    margin-top: 1.25rem;
}

.radio-row {
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.radio-row b {
    line-height: 2rem;
}

#character-columns ul {
    padding-left: .3125rem;
    margin-left: .3125rem;
}

#character-columns td {
    padding: 0 .3125rem;
}

#character-columns button {
    margin-top: .125rem;
}

#page-num-list {
	display: inline-block;
	cursor: pointer;
}

#page-num-list strong {
	color: var(--color-text-emph);
}
