html {
	height: 100%;
}

body {
    margin: 0;
		height: 100%;
}

.enc-descr-form label {
	width: calc(95% - 1.5em);
}

.enc-descr-form textarea {
	width: 100%;
	height: 6em;
}

.tabs p {
	font-size: .75em;
	font-style: italic;
}

.monster-manual td {
	border: .05em solid #ddd;
	/*box-shadow: 0 0 .2em #d4c09b inset;*/
	vertical-align: middle;
	padding: 1em;
	line-height: 1.2;
}

.monster-manual thead {
  white-space: nowrap;
	cursor: pointer;
}

.monster-manual tr:nth-child(odd) {
	background: #FDF1DC;
}

.monster-manual table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
}

.monster-manual thead {
	text-align: center;
	color: #7A200D;
  font-size: 1.2rem;
  line-height: 1.2em;
  font-weight: bold;
}

.monster-manual table .absorbing-column {
    width: 100%;
}

::-webkit-scrollbar {
    width: .25em;
		height: 0;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 .25em rgba(0,0,0,0.3);
    -webkit-border-radius: .65em;
    border-radius: .65em;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: .65em;
    border-radius: .65em;
    background: rgba(44,49,63,0.5);
    -webkit-box-shadow: inset 0 0 .25em rgba(0,0,0,0.5);
}

::-webkit-scrollbar-corner {
    background: #2C313F;
}

.gridcontainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5em 5.75em 1fr;
	overflow: hidden;
}

.tabs {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1.5em 8em 6em 8em 4em 1fr 8em 8em;
  grid-template-rows: 1fr;
	text-align: center;
}

.tabcontent {
  grid-row: 3;
}

.tabcontainer {
	display: grid;
  grid-template-columns: 1fr 903px;
  grid-template-rows: 1fr;
	padding: 0;
}

.tabcontainer2 {
	display: grid;
  grid-template-columns: .2fr .8fr;
  grid-template-rows: 1fr;
	padding: 0;
}

.enc-container {
	display: grid;
  grid-template-columns: 78px 825px;
  grid-template-rows: 1fr;
	padding: 0;
}

.enc-container p {
	margin: 0;
}

.enc-overlay {
	display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4em 1fr;
	padding: 0;

}

.menucontainer {
	display: grid;
	padding: 0;
}

.menu-btn {
	font-size: 125%;
	color: black;
	background-color: #FDF1DC;
	border-top: 0.175em solid #d4c09b;
	border-bottom: 0em solid #d4c09b;
	border-left: 0em solid #d4c09b;
	border-right: 0em solid #d4c09b;
	line-height: 1.5;
}

.menudrop .menu-btn {
	font-size: 100%;
	color: black;
	background-color: #FDF1DC;
	border-top: 0.125em solid #d4c09b;
	border-bottom: 0em solid #d4c09b;
	border-left: 0em solid #d4c09b;
	border-right: 0em solid #d4c09b;
	width: calc(100% - 1.5em);
	margin-left: 1.5em;
}

.menudrop .submenu-end {
	margin-bottom:-1em;
	padding-bottom:0;
}

.menu-btn:hover {
	background-color: #d4c09b;
}

.menudrop {
	display: none;
	padding: 1em 0 1em 1.5em;
	text-align: left;
}

.tabs button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 0.75em;
  width: 100%;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.25em;
	border: 0px solid #000000;
	height: 100%;
}

.tabs button:hover {
  background-color: #d4c09b;
}

/* Create an active/current "tab button" class */
.tabs button.active {
  background-color: #FDF1DC;
}

.tabs p {
	margin-bottom: 0;
}

.container {
    font-family: Georgia, Arial, sans-serif;
    text-align: left;
    margin: 0 auto;
    line-height: 125%;
    border-style: none;
	  min-height: 100%;
	  max-width: 100%;
}

.content {
    margin: 25px 0px;
		padding-right: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h1 {
    font-family: Tahoma, Georgia, Arial, sans-serif;
    font-size: 2rem;
}

h2 {
    font-family: Tahoma, Georgia, Arial, sans-serif;
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

hr {
    border-style: solid;
    border-color: black;
}

a {
    color: darkred;
    text-decoration: none;
}

ul {
    text-align: left;
    padding-left: 1.5rem;
}

button {
    color: #ffffff;
    font-size: 1rem;
    font-family: Tahoma, Georgia, Arial, sans-serif;
    background: #2C313F;
    padding: 2px 6px;
    width: auto;
}

button:focus {
	outline: none;
}

button:hover {
    background: #0C692F;
    text-decoration: none;
}

select {
    height: 1.5rem;
    font-family: Tahoma, Georgia, Arial, sans-serif;
    font-size: .8rem;
}

input {
    font-family: Tahoma, Georgia, Arial, sans-serif;
    font-size: .8rem;
}

input[type=text] {
    width: 95%;
    height: 1.5rem;
		text-align: left;
}

input[type=number] {
    width: 4rem;
    padding: 1px;
		text-align: center;
}

input[type=checkbox] {
    vertical-align: middle;
    margin: 0 .25rem .25rem .25rem;
}

textarea {
    font-family: monospace;
    font-size: .8rem;
    letter-spacing: normal;
    line-height: normal;
    width: 80%;
}

table {
    table-layout: fixed;
    text-align: left;
    width: 100%;
}

td {
    text-align: left;
    vertical-align: top;
}

.cen_td td {
    text-align: center;
    vertical-align: middle;
}

.cen_td input[type=text],
.cen_td2 input[type=text] {
    text-align: center;
}

.cen_td2 td {
    text-align: center;
    vertical-align: top;
}

canvas {
    max-width: 100%;
}

label {
    margin-bottom: 0;
}

.booklist div {
    margin-bottom: .5rem;
}

.tooltip {
    position: relative;
    display: inline-block;
    color: darkred;
    text-decoration: none;
    cursor: help;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-size: cover;
    background-position: center;
    color: #000000;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -200px;
    border-style: solid;
    border-radius: 5px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.buttoncontainer {
    text-align: center;
}

.box-note {
    font-size: .8rem;
    line-height: 1.5rem;
}

.collapsiblebutton {
    cursor: pointer;
    font-size: 15px;
    color: darkred;

    /* Make Unselectable */

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.expand-retract-text {
    cursor: pointer;
    font-family: Tahoma, Georgia, Arial, sans-serif;
    font-size: 1.2rem;
	font-weight: bold;
    color: darkred;
    display: inline;
    margin-left: 3rem;

    /* Make Unselectable */

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.expand-retract-h2 {
	display: inline-block;
	width: 10rem;
}

.centeredcontainer {
    display: block;
    text-align: center;
}

.footer {
    text-align: center;
    margin-top: 20px;
}

.radio-row {
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.radio-row b {
    line-height: 2rem;
}

.lock-button {
    width: 2rem;
    background: #888888;
}

.lock-button:hover {
    background: #cccccc;
}

#imagecanvas {
    border-color: white;
    border-style: solid;
}

#character-columns ul {
    padding-left: 5px;
    margin-left: 5px;
}

#character-columns td {
    padding: 0 5px;
}

#character-columns button {
    margin-top: 2px;
}

@media screen and (min-width: 1000px) {
    .container {
        border-style: none;
    }
}
